--
-- PostgreSQL database dump
--

\restrict iI2nQ4iJhXvZX3DIqWWlOjCs3Kt4FA0OoMtcs7mkcCGA7VE8qn5Iy9QeLsvMXdW

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP INDEX IF EXISTS public.ix_parts_id;
DROP INDEX IF EXISTS public.ix_parts_designation;
ALTER TABLE IF EXISTS ONLY public.parts DROP CONSTRAINT IF EXISTS parts_pkey;
ALTER TABLE IF EXISTS ONLY public.alembic_version DROP CONSTRAINT IF EXISTS alembic_version_pkc;
ALTER TABLE IF EXISTS public.parts ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.parts_id_seq;
DROP TABLE IF EXISTS public.parts;
DROP TABLE IF EXISTS public.alembic_version;
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: parts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.parts (
    id integer NOT NULL,
    designation character varying NOT NULL,
    name character varying,
    material character varying,
    weight double precision,
    dimensions character varying,
    description text,
    section character varying,
    image_path character varying,
    manufacturer character varying,
    condition character varying,
    weight_unit character varying,
    component_type character varying,
    current_type character varying,
    input_voltage character varying,
    input_current character varying,
    processor character varying,
    ram_kb integer,
    rom_mb integer,
    tnved_code character varying,
    tnved_description text,
    specs jsonb
);


--
-- Name: parts_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.parts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: parts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.parts_id_seq OWNED BY public.parts.id;


--
-- Name: parts id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parts ALTER COLUMN id SET DEFAULT nextval('public.parts_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
5359c08cfb1e
\.


--
-- Data for Name: parts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: parts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.parts_id_seq', 173, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: parts parts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.parts
    ADD CONSTRAINT parts_pkey PRIMARY KEY (id);


--
-- Name: ix_parts_designation; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_parts_designation ON public.parts USING btree (designation);


--
-- Name: ix_parts_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_parts_id ON public.parts USING btree (id);


--
-- PostgreSQL database dump complete
--

\unrestrict iI2nQ4iJhXvZX3DIqWWlOjCs3Kt4FA0OoMtcs7mkcCGA7VE8qn5Iy9QeLsvMXdW

